.btn
{
    &:hover
    {
        background-color: rgb(97,97,97);
        color: white;
    }
}
.active
{
    background-color: rgb(97,97,97);
    color: white;
}
section
{
    border: 1px solid grey;
}